@model BBMS.Models.Order

@{
    ViewData["Title"] = "Create";
}

<h1>Create Order</h1>
<h3 style="color: blue">Logged as Receiver</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ReceiverName" class="control-label"></label>
                <input asp-for="ReceiverName" class="form-control" />
                <span asp-validation-for="ReceiverName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationAddress" class="control-label"></label>
                <input asp-for="LocationAddress" class="form-control" />
                <span asp-validation-for="LocationAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BloodBroup" class="control-label"></label>
                <input asp-for="BloodBroup" class="form-control" />
                <span asp-validation-for="BloodBroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDateTime" class="control-label"></label>
                <input asp-for="OrderDateTime" class="form-control" />
                <span asp-validation-for="OrderDateTime" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="OrderStatus" class="control-label"></label>
                <input asp-for="OrderStatus" class="form-control" value="order confirmed" />
                <span asp-validation-for="OrderStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
    <a asp-action="Logout">Logout</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
